extends layout 
block content 
    .row.page-header 
        .col-lg-12 
            h1 Dürümhane 
    .row 
        .col-xs-12.col-md-12 
            .row
                .col-xs-12.col-sm-6
                    p.rating 
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                    p Modernevler Mahallesi
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Açılış Saatleri 
                        .panel-body 
                            p 
                                | Pazartesi-Cuma: 08:00-23:59
                            p 
                                | Cumartesi-Pazar: 08:00-22:30
                        .panel.panel-primary 
                            .panel-heading 
                                h2.panel-title Neler Var?
                            .panel-body 
                                span.label.label-warning Adana Dürüm
                                | &nbsp;
                                span.label.label-warning Tavuk Dürüm
                                | &nbsp;
                                span.label.label-warning Kavurma
                                | &nbsp;
                .col-xs-12.col-sm-6             
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Konum Bilgisi 
                        .panel-body 
                            -var enlem=37.7812653
                            -var boylam=30.5653227
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+
                            '&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
    .row 
        .col-xs-12 
            .panel.panel-primary
                .panel-heading
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container
                    .row 
                        .review 
                            .well.well-sm.review-header
                                span.rating 
                                span.review-author Yaşarcan Görkem
                                small.reviewTimestamp &nbsp; 23 Eylül 2022
                                span.rating 
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                            .col-xs-12 
                                p Ispartadaki yediğim en iyi adana dürümdü. Adanalı olarak söylüyorum buraya gidin.
    .row 
        .col-xs-12 
            .panel.panel-primary
                .panel-heading
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum Ekle
                    h2.panel-title Müşteri Yorumları
                .panel-body.review-container
                    .row 
                        .review 
                            .well.well-sm.review-header
                                span.review-author Vedat Milor
                                small.reviewTimestamp &nbsp; 8 Ağustos 2022
                                | &nbsp;
                                span.rating
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                                span.glyphicon.glyphicon-star-empty
                            .col-xs-12 
                                p Ben gurmeyim. Böyle rezillik görmedim.
                                
